{% extends "vetoffice/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'vetoffice/style.css' %}">
{% endblock %}

{% block content %}
  <p>Welcome, {{name}}!</p>
  <p>Here is the current list of patients:</p>
  <!-- Add your if statement below: -->
{% if pet.animal_type == "Dog" %}
  <p>The animal is a dog</p>

{% elif pet.animal_type == "Cat" %}
  <p>The animal is a cat</p>

{% else %}
<p>The animal is not a dog or cat</p>

{% endif %}

{% for pet in pets %}
  <p>{{pet.petname}} ==>> {{pet.animal_type}}</p>
{% endfor %}

{% endblock %}
